{% extends '::adminbase.html.twig' %}
{% form_theme edit_form 'LoginBundle:Form:formThemingRewrite.html.twig' %}

{% block body -%}

    <div class="container">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>User edit</h2>

                    {{ form(edit_form) }}

                    <div>    
                        {{ form(delete_form) }}
                    </div>
                    <br>
                    <br>
                    <div class="center">
                        <a href="{{ path('admin_password', { 'id': entity.id }) }}" class="btn btn-default">
                            Change password
                        </a>

                        <br>
                        <br>
                        <a href="{{ path('admin') }}">
                            <i class="glyphicon glyphicon-arrow-left"></i>   Back to the list
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
