#/web/bundles/

#/app/bootstrap.php.cache

/bin/wkhtmltopdf-amd64
/bin/wkhtmltopdf-amd64.bat

/app/cache/*
app/cache/*
/app/config/parameters.yml


/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

#/app/phpunit.xml

#/build/

/nbproject/*
#/vendor/

#/bin/
/composer.phar
web/.htaccess

/web/Files/*
/web/images/products/*