<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dent1st CRM project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Customer Relationship Management Software">
        <meta name="author" content="Peter Csatai">

        <!-- css stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {%block stylesheets %}
        {%endblock%}
    </head>

    <body>

<div class="container" id="indexwhite" style ="text-align: center;">
    <div style="min-height:12em; font-size: large;"></div>
    <div style="font-size: 4em; color: white;">DENT<span style="color: red;">1ST</span> ESIGNATURE
    </div>
<!-- FOS layout -->

        

        <div>
            {% block body %}
            {% endblock  %}
        </div>
        <div style="min-height:20em;"></div>
        <div style="font-size: large; color: white;">
        Website created by Peter Csatai (2015)
        </div>
</div>
    {%block container %}
    {%endblock%}




    {%block javascripts %}
    {%endblock%}
</body>
</html>

