<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="Peter Csatai" content="Template" />
        <meta name="description" content="Preview for eContract template">
        <title>Preview</title>

        <!-- css stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style type="text/css">
            body {
                background: white; 
                padding-right: 10px;
            }

        </style>
    </head>
    <body>

        {{heading|raw}}
        {{firstpage|raw}}
        {{html|raw}}
        {{footer|raw}}



    </body>
</html>