{% extends "::customerbase.html.twig" %}

{% block stylesheets %}

        {% endblock %}

{% block body %}


    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Signature accepted</h2>
                    <div class="col-md-12">
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6 center">
                            Your document has been signed. You will receive an email with the pdf document shortly.
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}