{% extends "AppBundle:Default:defaultbase.html.twig" %}

{% block stylesheets %}

        {% endblock %}

{% block body %}


    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Quick tools</h2>
                    <div class="col-md-12">
                        <br>
                        <br>
                        <br>
                        <div class="col-md-6 center">
                            <button class="btn btn-lg btn-default"><i class="glyphicon glyphicon-send"></i> Send new Econtract</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-default"><i class="glyphicon glyphicon-list"></i> Sent Econtracts</button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}