{% extends "AppBundle:Default:defaultbase.html.twig" %}

{% block stylesheets %}

{% endblock %}

{% block body %}


    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Quick tools</h2>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_send_econtract')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-send"></i> Send new Econtract</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_sentcontracts')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-list"></i> Sent Econtracts</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_create_template')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-plus"></i> New template</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_selfSignature')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-pencil"></i> Your signature</a>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}