<br><br><br><br>
<div class="col-md-12">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <p style="text-align:center"><span style="font-size:36px">Contract</span></p>
            <p style="text-align:center"><span style="font-size:20px">between&nbsp;</span></p>
            <p style="text-align:center"><strong>%%clientname%%&nbsp;(%%firstlineaddress%%,&nbsp;%%addresstown%%,&nbsp;%%postcode%%)</strong></p>
            <p style="text-align:center"><span style="font-size:20px">and</span></p>
            <p style="text-align:center"><strong>%%company%% (%%address%%)</strong></p>
        </div>
    </div>
</div>
<br><br><br><br>