
    <br><br><br><br><br><br><br>
    <div class="col-md-12">
        <div class="col-md-6">
            <canvas id="mySign" width="300" height="90" style="margin-left:0em; border:1px solid #000000;"></canvas>
            <br>
            <br>
            <p class="gi-4m">
                Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{signname}}</span>
            </p>
            <p class="gi-4m">
                Position:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{position}}</span>
            </p>
        </div>
        <div class="col-md-6">
            <canvas id="clientSign" width="300" height="90" style="margin-left:1em; border:1px solid #000000;"></canvas>
            <br>
            <br>
            <p class="gi-4m">
                Client name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%clientname%%
            </p>
            <p class="gi-3m">
                Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%firstlineaddress%%<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%addresstown%%<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%postcode%%<br>
            </p>
        </div>
            <div class="col-md-12">
                <p class="gi-5m">
                DATE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%date%%
            </p>
            </div>
    </div>
    <br><br><br><br><br>