
    <br><br><br><br><br><br><br>
        <div class="col-md-12">
            <canvas id="mySign" width="300" height="90" style="margin-left:0em; border:1px solid #000000;"></canvas>
            <br>
            <br>
            <p class="gi-4m">
                Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{signname}}</span>
            </p>
            <p class="gi-4m">
                Position:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{{position}}</span>
            </p>
        </div>
    <br><br><br><br><br>