<br><br><br><br>
<div class="col-md-12">
    <div style="width: 100%;text-align:center;">
        <canvas id="mySign" width="300" height="90" style="display: inline; margin-left:0em; border:1px solid #000000;"></canvas>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            Print name: <strong>%%printname%%</strong><br>
            Position: <strong>%%position%%</strong><br>
            Company name: <strong>%%company%%</strong><br>
            Address: <strong>%%address%%</strong><br>
            Town: <strong>%%town%%</strong><br>
            Postcode: <strong>%%postcode%%</strong><br>
        </div>
        <br>
    </div>
</div>
<br><br><br><br>