<br><br><br><br>
<div class="col-md-12">
    <canvas id="mySign" width="300" height="90" style="margin-left:0em; border:1px solid #000000;"></canvas>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            Print name:<br>
            Position:<br>
            Company name:<br>
            Address:<br>
            Town:<br>
            Postcode:<br>
        </div>
        <br>
        <div class="col-md-4">
            %%printname%%<br>
            %%position%%<br>
            %%company%%<br>
            %%address%%<br>
            %%town%%<br>
            %%postcode%%<br>
        </div>
    </div>
</div>
<br><br><br><br>