<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="Peter Csatai" content="Template" />
        <meta name="description" content="Preview for eContract template">
        <title>Preview</title>

        <!-- css stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style type="text/css">

            body {
                background: rgb(204,204,204); 
            }
            page[size="A4"] {
                background: white;
                width: 24.7cm;
                height: 35cm;
                display: block;
                margin: 0 auto;
                padding-top: 1.5cm;
                padding-bottom: 1.5cm;
                padding-left: 1.5cm;
                padding-right: 1.5cm;
                margin-bottom: 1.5cm;
                margin-top: 0.5cm;
                box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
            }
            .myHeading {
                background-color: white;
                border-radius: 0;
                border:0px;
            }
            .myFooter {
                background-color: white;
                border-radius: 0;
                border:0px;
            }
            .myPanel {
                width: 24.7cm;
                min-height: 35cm;
                margin-top: -1.5cm;
                margin-left: -1.9cm;
                border-radius: 0;
                border:0px;
            }

            .mycol > .panel{
                position:relative;
            }
            .mycol .panel-footer{
                position:absolute;
                width:100%;
                bottom:0;
            }

            @media print {
                body, page[size="A4"] {
                    margin: 0;
                    box-shadow: 0;
                }
                tr.vendorListHeading {
                    background-color: #1a4567 !important;
                    -webkit-print-color-adjust: exact; 


                }
            }

            @media print {
                .vendorListHeading th {
                    color: white !important;
                }}


        </style>
    </head>
    <body>














    <page size="A4">
        <div class="col-md-12 mycol">
            <div class="panel panel-default myPanel" style="min-height:35cm;">
                <div class="panel-heading myHeading" style="background-color:white;">

                    <p style="text-align:center">
                        <span style="font-size:36px">HONDA AFRICA TWIN</span></p>

                    <p style="text-align:center">BEST MOTORBIKE IN THE WORD</p>

                    <hr />

                </div>

                <p style="text-align:center"><span style="font-size:28px">THIS IS THE BEST! I WANT THIS :)</span></p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>

                    <img alt="" src="http://www.honda.co.uk/content/dam/central/motorcycles/colour-picker/adventure/crf1000l/crf1000l_abs/crf_rally/cfr1000l_crfrally.png/_jcr_content/renditions/c4.png" style="height:486px; width:864px" /></p>

                <div class="panel-footer myFooter"><p style="text-align:center">&nbsp;</p>

                    <hr />
                    <p>&nbsp;</p>

                    <h4 style="text-align:center"><span style="font-size:26px">The True Adventure Model with switchable ABS and multi-mode HSTC.</span></h4>
                </div>
            </div>
        </div>


    </page>






    <page size="A4">
        <div class="col-md-12 mycol">
            <div class="panel panel-default myPanel" style="min-height:35cm;">
                <div class="panel-heading myHeading" style="background-color:white;">
                    <p style="text-align:center"><span style="font-size:36px">HONDA AFRICA TWIN</span></p>

                    <p style="text-align:center">BEST MOTORBIKE IN THE WORD</p>

                    <hr />
                </div>

                <div class="panel-body">

                    <p>The Honda-developed 3-way Engine Mode Select Button (EMSB) changes the CRF450R&#39;s engine character to suit the track condition &ndash; all controlled from the handlebar. So now you choose how power is delivered. Upgrades to the Honda Unicam engine allow for enhanced durability, torque and top end performance, with a redirected exhaust port for smoother exhaust gas flow.</p>

                    <h4>Maximum Stability</h4>

                    <div class="panel-footer myFooter"><p style="text-align:center">&nbsp;</p>

                        <hr />
                        <p>&nbsp;</p>

                        <h4 style="text-align:center">
                            <span style="font-size:26px">The True Adventure Model with switchable ABS and multi-mode HSTC.</span>
                        </h4>


                    </div>

                </div>

            </div>
    </page>




    <page size="A4"><div class="col-md-12 mycol">


            <div class="panel panel-default myPanel" style="min-height:35cm;">


                <div class="panel-heading myHeading" style="background-color:white;">

                    <p style="text-align:center"><span style="font-size:36px">HONDA AFRICA TWIN</span>

                    </p>

                    <p style="text-align:center">BEST MOTORBIKE IN THE WORD</p>

                    <hr />

                </div>

                </p>

                <p>To match the engine&rsquo;s adaptability, the second generation KYB Pneumatic Spring Forks (PSF2) are lighter, with 10% less friction, and use high and lowspeed rebound damping adjusters on the fork tops for easy access. So no matter what you&rsquo;re facing &ndash; mud, sand or hard pack &ndash; the right package is always at your fingertips.</p></div><div class="panel-footer myFooter"><p style="text-align:center">&nbsp;</p>

                <hr />
                <p>&nbsp;</p>

                <h4 style="text-align:center">

                    <span style="font-size:26px">The True Adventure Model with switchable ABS and multi-mode HSTC.</span></h4>
            </div>
        </div>
    </div>
</page>





<page size="A4">
    <div class="col-md-12 mycol"><div class="panel panel-default myPanel" style="min-height:35cm;"><div class="panel-heading myHeading" style="background-color:white;"><p style="text-align:center"><span style="font-size:36px">HONDA AFRICA TWIN</span></p>

                <p style="text-align:center">BEST MOTORBIKE IN THE WORD</p>

                <hr /></div><div class="panel-body"></div><div class="panel-footer myFooter"><p style="text-align:center">&nbsp;</p>

                <hr />
                <p>&nbsp;</p>

                <h4 style="text-align:center"><span style="font-size:26px">The True Adventure Model with switchable ABS and multi-mode HSTC.</span></h4>


            </div>
        </div>
    </div>
</page>


</body>
</html>




